{% extends 'index.htm' %}
{% block title %} - 修改密码{% endblock %}

{% block content %}

    <div class="lineB">更改您的密码</div>
    <div>
        <font color="red">{{msg}}</font>
    </div>
	<form action="/user/pwd/" method="post">
		<table>
            {{avatar_form}}
			<tr>
				<td></td>
				<td>
                    <input type="submit" value="提交"/>
                    <a href="/user/reset_pwd/" onclick="alert('尚未开放！');return false;">使用邮件重设密码</a>
                </td>
			</tr>
		</table>		
	</form>
    
{% endblock %}